<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="index.css"></link>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.1.0/mustache.min.js"></script>
		<title>{{User}}'s Art + Writing</title>
	</head>
	<body style="background-color: #779cab">
		<header style="font-size:4em; position: static;	width: 100%; height: 50px;	background-color: #74d3ae;	color: white;	font-size: 2.75em;">
			<div style="font-size:.75em; display:inline-block; width: 10%; height: 80%; text-align: left;">
			<a href="/">Home</a>
			</div>
			<div style="font-size:.75em; display:inline-block; width: 40%; height: 80%; text-align: center;"> 
			{{username}}'s Art + Writing
			</div>
			<div style="font-size:.75em; display:inline-block; width: 40%; height: 80%; text-align: right;"> 
			<a href="/tables/submissions"> Submissions </a> 
			<a href="/tables/pieces"> Pieces </a> 
			<a href="/tables/places"> Places </a> 
			</div>
		</header>
		<div style="float:left; width: 49%; height: 50%; text-align:left;">
			<h3>Upcoming Deadlines</h3>
			<table>
				<tr>
					<th>Place</th>
					<th>Cost</th>
					<th>Requires Unpublished Pieces?</th>
					<th>Deadline</th>
				</tr>
				{{#places}}
	  			<tr>
		  			<td><a href="/places/{{uid_place}}">{{placeName}}</a></td> 
		  			<td>{{cost}}</td> 
		  			<td>{{firstRights}}</td> 
		  			<td>{{deadline}}</td>
	  			</tr>
	  			{{/places}}
	  		</table>
		</div>
		{{^submitted}}
		<div style="float:right; width: 49%; height: 50%; text-align:center;">
			<h3>Pending Submissions</h3>
			<table>
				<tr>
					<th>Place</th>
					<th>Piece</th>
					<th>Date Submitted</th>
					<th>Place of Notification</th>
					<th>Date of Notification</th>
				</tr>
				{{#subs}}
	  			<tr>
		  			<td><a href="/places/{{uid_place}}">{{placeName}}</a></td> 
		  			<td><a href="/pieces/{{uid_piece}}">{{pieceTitle}}</a></td> 
		  			<td>{{dateSubmitted}}</td> 
		  			<td>{{notificationPlace}}</td>
		  			<td>{{notificationDate}}</td>
	  			</tr>
	  			{{/subs}}
	  		</table>
		</div>
		{{/submitted}}
	</body>
</html>                                                                                                                            