<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css"></link>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.1.0/mustache.min.js"></script>
		<title>
			{{placeName}}
		</title>
	</head>
	<body style="background-color: #779cab">
		{{#rowData}}
		<header style="font-size:2px; position: relative;	width: 100%; height: 50px;	background-color: #74d3ae;	color: white;	font-size: 2.75em;">
			<div style="font-size:.75em; display:inline-block; width: 10%; height: 80%; text-align: left;">
			<a href="/">Home</a>
			</div>
			<div style="font-size:.75em; display:inline-block; width: 40%; height: 80%; text-align: center;"> 
			{{placeName}}
			</div>
			<div style="font-size:.75em; display:inline-block; width: 40%; height: 80%; text-align: right;"> 
			<a href="/tables/submissions"> Submissions </a> 
			<a href="/tables/pieces"> Pieces </a> 
			<a href="/tables/places"> Places </a> 
			</div>
		</header>
		<div style="float:left; width: 49%; height: 50%; text-align:left;">
			<h3> Place Specifics: </h3>
			<a href="{{submitLink}}" target="_blank"> Submit </a> <br>
			<b>Comments:</b> {{comments}} <br>
			<b>Deadline:</b> {{deadline}} <br>
			<b>Notification Date:</b> {{notificationDate}} <br>
			<b>Notification Period:</b> Up to {{notificationTime}} Weeks After Submission <br>
			<b>Cost:</b> {{cost}} <br>
			<b>Do they accept published work? </b> {{rights}} <br>
			<b>Requirements (including # of subs):</b> See Below! <br>
			<b>Prize:</b> See Below <br>
		</div>
		{{/rowData}}
		{{^submitted}}
		<div style="float:right; position: static; width: 49%; height: 50%; text-align:center;">
			<h3>Pieces Submitted</h3>
			<table>
				<tr>
					<th>Piece</th>
					<th>Date of Notification</th>
					<th>Place of Notification</th>
					<th>Result</th>
					<th>Result Description</th>
					<th>Prize</th>
				</tr>
				{{#subs}}
	  			<tr>
		  			<td><a href="/places/{{uid_piece}}">{{pieceTitle}}</a></td> 
		  			<td>{{notificationDate}}</td> 
		  			<td>{{notificationPlace}}</td> 
		  			<td>{{result}}</td>
		  			<td>{{resultDescription}}</td> 
		  			<td>{{prize}}</td> 
	  			</tr>
	  			{{/subs}}
	  		</table>
		</div>
		{{/submitted}}
		<div style="float:center; position: relative; width: 90%; height: 40%; text-align:center;">
			<h3>Requirements</h3>
			<table>
				<tr>
					<th>Medium or Genre</th>
					<th>Minimum Width or Words/Lines</th>
					<th>Minimum Height or Pages</th>
					<th>Maximum Width or Words/Lines</th>
					<th>Maximum Height or Pages</th>
					<th>Maximum Number of Submissions for this medium/genre</th>
				</tr>
				{{#reqs}}
	  			<tr>
		  			<td>{{pieceTitle}}</td> 
		  			<td>{{min_width_wordsLines}}</td> 
		  			<td>{{min_height_pages}}</td> 
		  			<td>{{max_width_wordsLines}}</td> 
		  			<td>{{max_height_pages}}</td> 
		  			<td>{{max_submissions}}</td>
	  			</tr>
	  			{{/reqs}}
	  		</table>
		</div>
		<div style="float:center; position: relative; width: 90%; height: 40%; text-align:center;">
			<h3>Prizes</h3>
			<table>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Prize</th>
				</tr>
				{{#prizes}}
	  			<tr>
		  			<td>{{resultName}}</td> 
		  			<td>{{resultDescription}}</td> 
		  			<td>{{prize}}</td>
	  			</tr>
	  			{{/prizes}}
	  		</table>
		</div>
		<div style="float:center; position: relative; width: 90%; height: 40%; text-align:center;">
			<h3>Eligible Pieces</h3>
			<table>
				<tr>
					<th>Piece</th>
					<th>Medium or Genre</th>
					<th>Link</th>
				</tr>
				{{#eligible}}
	  			<tr>
		  			<td><a href="/places/{{uid_piece}}">{{pieceTitle}}</a></td> 
		  			<td>{{medium_genre}}</td> 
		  			<td><a href="{{link}}" target="_blank">View the Work Here</a></td>
	  			</tr>
	  			{{/eligible}}
	  		</table>
		</div>
	</body>
</html>                                                                                                                            